body{
    background-color: #c1c1c1;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aqua;
}
#katita {
    width: 250px;
    height: 250px;
}
.containerKatita {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}